<div class="ui raised very padded text container segment">
  <h2 class="ui header">Acerca de la página</h2>
  <div class="ui centered large">
    <p>Portafolio de series en la versión 1.0.0 &copy; 2022</p>
  </div>
  <p class="text-justify">
    Este proyecto fue creado como parte de un ejercicio practico de los
    principios básicos sobre la estructura de Angular, además la creación de componentes
    y servicios, guiado por el profesor JORGE ARTURO SAUCEDA FLORES. <br>
    La página cuenta con un listado de series animadas seleccionadas por el creador 
    KENNETH OROZCO RAMIREZ.
  </p>

  <div class="ui divider"></div>
 
  <a routerLink="" class="back-icon">
    <i class="arrow left icon"></i>
    Regresar
  </a>
</div>